@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

#canvas-wrapper, canvas {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: none;
}

.my_toast{
  background-color: #001f3f;
  color: white;
  font-size: 16px;
}
